body{
    background-color: burlywood
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    color: dodgerblue;
}

body {

    color: gold;
}

body {

    color:lightcoral;
}

body {

    color:royalblue;
}

div a {

    text-align: center;
}

.header{

    display: block;
    padding: 0.5rem, 1rem;
    margin-bottom: 0;
    font-size: 0.925rem;
    color: dimgray;
    white-space: nowrap;
}

.subheader {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    word-spacing: 20px;
    letter-spacing: 1.5px;
    padding: 10px;
    color: dodgerblue;
}


.tableauLink {
    color: blue;
}

a {
color: crimson
}

.textbox{

    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    word-spacing: 25px;
    letter-spacing: 2px;
    padding: 10px;
}
#tableauBody{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #F4FAFF;
}

#myHeader{
    background-color: #4F5D75;
    position: absolute;
    z-index: 1;
    left:0px;
    right:0px;
    top:0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}


#myHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#myHeader li{
    float: right;
}


#myHeader li a {
    display: block;
    color: #F4FAFF;
    text-align: center;
    font-size: 16px;
    padding: 16px;
    text-decoration: none;
}

#myHeader li a:hover {
    background-color: #F4FAFF;
    color: #416FDB;
}

#myContent{	
    padding: 10px;
    position: absolute;
    text-align: justify;
    top: 54px;
    left: 0px;
    right: 0px;
    bottom: 60px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
    height: 100%;
    
	}
    
 #myFooter {
      background-color: #4F5D75;
      color: #F4FAFF;
      padding: 15px;
	  text-align: center;
	  height:30px;
      position: fixed;
      bottom: 0px;
      left:0;
        
      right:0px;
        
     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        
    }

    div.absolute {
        position: absolute;
        bottom: 10px;
        width: 50%;
        border: 50px white;
      }